<%- include("./particles/head.ejs")%>
<body>
    <center>
        <h1 class="header">NoteShare</h1>
        <br><br><br><br>
        <h1 class="header">404</h1><br><br>
        <h1>This notebook doesnt exists</h1>
    </center>
    <%- include("./particles/footer.ejs")%>
</body>
</html>