<%- include("./particles/head.ejs")%>
<body>
    <center>
        <h1 class="header">NoteShare</h1>
        <h1><%- title %></h1>
        <h3><%- content %></h3>
    </center>
    <%- include("./particles/footer.ejs")%>
</body>
</html>